body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #FAFAFA;
}



/*
|==================================================================
|
|     Header
|
|==================================================================
*/

#title{
    font-size: 1.2em; 
    font-weight: 700;
    font-family: 'Nunito', 'Futura', Helvetica, Arial, sans-serif;
}

h1 {
    padding: 30px;
    padding-left: 60px;
    width: 100%;
    margin-top: 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: .07em;

    /*Gradient Styling*/
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #23bfea 62%, #addfed 96%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#23bfea 62%,#addfed 96%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%,#23bfea 62%,#addfed 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#addfed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#add-card-top {
    position: fixed;
    z-index: 2;
    top: 30px;
    right: 60px;
    margin-left: -150px;
    font-size: 1.7em;
    color: white;
}

/*
|==================================================================
|
|     Page Aspects
|
|==================================================================
*/


/* Add Card Button */
#add-card-btn{
	display: block;
	width: 340px;
	margin: 10px;
}

#add-card-btn:hover {
    box-shadow: 4px 8px 18px 0 rgba(0,0,0,0.5);
}



/*
|==================================================================
|
|     New Card Modal
|
|==================================================================
*/
.new-card-modal {
    width: 300px;
    margin: auto;
    background-color: #fff;
    box-shadow: 2px 6px 16px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 8px; 
    padding: 20px;
    position: fixed;
    z-index: 2;
    top: 5%;
    left: 50%;
    margin-left: -150px;
}

#disable-background{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .6;
    position: fixed;
	z-index: 1;
	top: 0;
}

.close{
	position: fixed;
	top: 30px;
	width: 300px;
	text-align: right;
}

.close:hover{
	opacity: .3;
}

.visible{
	display: none;
}



/*
|==================================================================
|
|     Modal Inputs
|
|==================================================================
*/
.title {
    display: block;
}

select {
    display: block;
}
